[package]
name = "intercept-bounce"
version = "0.4.0"
edition = "2021"
authors = ["sinity <ezo.dev@gmail.com>"]
description = "An Interception Tools filter to eliminate keyboard chatter (switch bounce)."
license = "MIT OR Apache-2.0"
repository = "https://github.com/sinity/intercept-bounce"
keywords = ["interception", "keyboard", "debounce", "evdev"]
categories = ["command-line-utilities"]
readme = "README.md"

[package.metadata.docs.rs]
features = ["default"]

[dependencies]
clap            = { version = "4.5", features = ["derive"] }
input-linux-sys = "0.1"          # struct input_event + key codes, EV_KEY
signal-hook     = "0.3"          # For handling SIGTERM/SIGINT
phf             = { version = "0.11", features = ["macros"] } # For static key name map

[dev-dependencies]
assert_cmd = "2.0"
predicates = "3.0"
